/* margin outside border {top right bottom left} */
/* padding inside border {top right bottom left} */
body {
    background-color: #FEC5BB;
}

a {
    display: block;
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    color: #242222;
}

input[type=radio] {
    display: inline;
}

input[type=text] {
    width: 100%;
    padding: 10px 5px; 
    margin-bottom: 10px;
    /* blank space inside input area 10 for up and down, 5 for left */
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 10px 5px; 
    margin-bottom: 10px;
    /* blank space inside input area 10 for up and down, 5 for left */
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 10px 5px; 
    margin-bottom: 10px;
    /* blank space inside input area 10 for up and down, 5 for left */
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    display: block;
    color: black;
    font-size: middle;
}

.label_ratio {
    display: inline;
    color: black;
    font-size: large;
    font-weight: bold;
	
}

input::placeholder {
    font-size: small;
}

input[type=submit] {
/*
    border: gray solid 1px;
    background-color: #FFD7BA;
    color: gray;
*/

    padding: 10px 0;
    display: block;
    width: 100%;
    border-radius: 20px;
}

.out_box {
    width: 300px;
    height: auto;
    /* float: */
    margin: 200px auto;
    background-color: #fff;
    border: #FAE1DD solid 3px;
    padding: 5px 0px;
    border-radius: 10px;
}

.logo {
    /* background-color: #F1C0E8; */
    background-image: url(./img/funbox.png);
    background-size: cover;
    background-position: center;
    width: 120px;
    height: 120px;
    margin: 10px auto 10px;
}

.center_bold {
    text-align: center;
    font-weight: bold;
}

.form_align {
    margin: 20px 20px;
}

.toggle_password {
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: #ccc;
}

.error_msg {
    /* border: 3px black dotted; */
    margin: 0;
    /* visibility: hidden; */
    /* background-color: green; */
    color: brown;
    font-size: 14px;
}

.bottom_info {
    margin-top: 10px;
    text-align: center;
    color: grey;
    font-size: small;
}

.btn-primary{
	color:#fff;
	background-color:#ff6360;
	border-color:#ff6360
}
.btn-primary.focus,.btn-primary:focus{
	color:#fff;
	background-color:#ff312d;
	border-color:#e00400
}
.btn-primary.active,.btn-primary:active,.btn-primary:hover,.open>.btn-primary.dropdown-toggle{
	color:#fff;
	background-color:#ff312d;
	border-color:#ff2723
}
.btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.btn-primary.dropdown-toggle.focus,.open>.btn-primary.dropdown-toggle:focus,.open>.btn-primary.dropdown-toggle:hover{
	color:#fff;
	background-color:#ff0e09;
	border-color:#e00400
}
.btn-primary.active,.btn-primary:active,.open>.btn-primary.dropdown-toggle{
	background-image:none
}
.btn-primary.disabled.focus,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled].focus,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{
	background-color:#ff6360;
	border-color:#ff6360
}
.btn-primary .badge{
	color:#ff6360;
	background-color:#fff
}
