<html>
  <head>
  </head>
  <body>
  <iframe src="" frameborder="0" name="iframeName"></iframe>
  <form name="form" id="myform" action="" autocomplete="off" onsubmit="return myOnSubmit(event, 'user')" target="iframeName" method="post" enctype="multipart/form-data" class="wrapper-hor">
    <span id='close' onclick=''>x</span>
    {% csrf_token %}
    <div class="left">
      <img src="{{user_photo}}" id="chg_usr_p" alt="user" width="100" height="100">
      <input type="file" id="img_slt" name="photo" onchange="" style="display: none;" accept=".jpeg,.jpg,.gif,.png,.bmp">
      <div class="data_container">
        <p name="name" style="font-size: 19px; font-weight: 700; color: #000; margin-top: 12px; line-height: 1.1; overflow: hidden; text-overflow: ellipsis;">{{user_name}}</p>
        <input type="text" name="name" style="width: 100%; font-size: 19px; font-weight: 700; color: #000; margin-top: 12px; line-height: 1.1;" hidden required>
      </div>
      <div class="bottom-btn">
        <p class="alert alert-danger" id="error" style="display: none;"></p>
        <p class="alert alert-success" id="success" style="display: none;"></p>
        <button class="btn btn-info btn-sm" id="edit" onclick="edit_usr_p(event)"> edit </button>
        <button class="btn btn-primary btn-sm" id="save" type="submit" style="display: none;"> save </button>
      </div>
      <input type="text" name="hint" style="display: none;" value="profile">
    </div>
    <div class="right">
      <div class="info">
        <h3>Information</h3>
        <div class="info_data">
          <div class="data">
            <h4>Email</h4>
            <p name="email">{{user_email}}</p>
          </div>
        </div>
      </div>
      
      <div class="projects">
            <h3>Recent</h3>
            <div class="projects_data">
                <div class="data">
                  <h4>Likes</h4>
                  <div class="data_container">
                  <p name="likes">{{user_likes}}</p>
                  <input type="text" name="likes" style="width: 100%;" hidden>
                  </div>
                </div>
                <div class="data">
                  <h4>Recommend</h4>
                  <div class="data_container">
                  <p name="likes">{{user_recommendations}}</p>
                  <input type="text" name="likes" style="width: 100%;" hidden>
                  </div>
                </div>
            </div>
      </div>
    </div>
  </form>
  </div>
  </body>
</html>