<html>
  <head>
  </head>
  <body>
  <div class="wrapper-hor">
  <span id='close' onclick=''>x</span>
    <div class="left">
        <img src="/static/imgs/Nick_Wilde.jpeg" id="chg_usr_p" alt="user" width="100">
        <input type="file" id="img_slt" onchange="" style="display: none;">
        <p style="font-size: 19px; font-weight: 700; color: #000; margin-top: 12px; line-height: 1.1;">Nick Wilde</p>
         <p>Officer of Zootopia</p>
        <div class="bottom-btn">
          <button class="btn btn-info btn-sm" id="edit" onclick="edit_usr_p(event)"> edit </button>
          <button class="btn btn-info btn-sm" id="save"> save </button>
        </div>
    </div>
    <div class="right">
      <div class="info">
        <h3>Information</h3>
        <div class="info_data">
          <div class="data">
            <h4>Email</h4>
            <p>nick@zootopia.com</p>
          </div>
          <div class="data">
            <h4>Phone</h4>
            <p>0001-213-998761</p>
          </div>
        </div>
      </div>
      
      <div class="projects">
            <h3>Recent</h3>
            <div class="projects_data">
                 <div class="data">
                    <h4>Likes</h4>
                    <p>Lorem ipsum dolor sit amet.</p>
                 </div>
                 <div class="data">
                   <h4>Want To Try</h4>
                    <p>dolor sit amet.</p>
              </div>
            </div>
      </div>
    </div>
  </div>
  </body>
</html>