<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Page description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./assets/apple-icon-180x180.png" rel="apple-touch-icon">
  <link href="./assets/apple-icon-180x180.png" rel="icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script> -->

  <title>Title page</title>  

  <link href="{% static 'css/external.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>
<header class="">
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand"> FunBox </a>
  </div>


  <nav class="sidebar" style="background: linear-gradient(to right,#fff,#eee);">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="/" title="">
            <img class="img-responsive site-logo" alt="" src="/static/imgs/funbox.png" style="width: 200px; height: 100px;">
            FunBox
          </a>
      </div>
      <ul class="nav">
      </ul>

      <nav class="nav-footer">
      </nav>  
    </div> 
  </nav>
</header>


<main class="" id="main-collapse">
  <iframe src="" frameborder="0" name="iframeName"></iframe>
  <div class="hero-full-wrapper">
    <div class="login-desciprtion" style="width: inherit; height: calc(100vh - 80px);">
        <div class="wrapper-ver">
          <div class="wrapper-form">
            <p class="wrapper-form-title"> Find Password <br> {{email}} </p>
            <div class="form-group">
            <form name="form" action="" autocomplete="off" onsubmit="return myOnSubmit(event, 'repeat')" target="iframeName" method="post">  
              {% csrf_token %} 
              <input type="text" class="form-control" name="email" id="Email" placeholder="you@some.com" value="{{email}}" style="display: none;" readonly>
              <label for="Password"> New Password </label>
              <input type="password" class="form-control" name="password" id="Password" placeholder="8-16 characters with digits" onfocus="" onblur="" required>
              
              <label for="Repeat"> Repeat Password </label>
              <input type="password" class="form-control" name="repeat" id="Repeat" placeholder="8-16 characters with digits" onchange="" required>
              <input type="text" class="form-control" name="hint" value="repeat" style="display: none;" required>
              
              <p class="alert alert-danger" id="error" style="display: none;"></p>
              <p class="alert alert-success" id="success" style="display: none;"></p>
              
              <input class="btn btn-primary" type="submit" name="submit" id="Submit" value="Submit">
              <button class="btn btn-default toggle_password" onclick="togglePasswordView(event, 'repeat')"> View Password</button>
            </form>
            <div class="bottom_info">
                <p class="version_number"> Version 0.0.0 </p>
            </div>
          </div> 
        </div> 
      </div>
    </div>
  </main>
  <script>
    document.addEventListener("DOMContentLoaded", function (event) {
      navbarToggleSidebar();
      navActivePage();
    });
  </script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/external.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    $(document).ajaxSend(function(event, xhr, settings){
      console.log("FUNCTIONING");
      if (settings.type == "POST") {
        console.log($("input[name=csrfmiddlewaretoken]").val());
        xhr.setRequestHeader("X-CSRFToken", $("input[name=csrfmiddlewaretoken]").val());
      }
    });
  });
</script>
</body>
</html>