<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Page description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./assets/apple-icon-180x180.png" rel="apple-touch-icon">
  <link href="./assets/apple-icon-180x180.png" rel="icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script> -->

  <title>Title page</title>  

  <link href="{% static 'css/external.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>
<header class="">
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand"> FunBox </a>
  </div>

  <div id="mySidenav" class="sidenav">
    <!-- The close button -->
    <label for="filtersubmit">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    </label>
    <!-- Use form to submit the information of recommendation filter -->
    <form name="filterset" action="" autocomplete="off" target="_self" method="post" onsubmit="return true">
      {% csrf_token %}
      <div class="range">
        <a>Time&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
        <input name="time" id="Timerange" type="range" value="0" oninput="changeV('Time')" onchange="changeV('Time')"
          min=0 max=9 step=1>
        <a class="rangevalue" id="Timevalue"></span>
          <a>Participant</a>
          <input name="participant" id="Participantrange" type="range" value="0" oninput="changeV('Participant')" min=0
            max=11 step=1>
          <a class="rangevalue" id="Participantvalue"></span>
            <a>Place&nbsp&nbsp&nbsp&#8195&#8195
              <label for="Home">
                <input type="checkbox" name="Home" value="Home" id="Home">&nbspHome&#8195
              </label>
              <label for="Outdoor">
                <input type="checkbox" name="Outdoor" value="Outdoor" id="Outdoor">&nbspOutdoor&#8195
              </label>
              <label for="Center">
                <input type="checkbox" name="City" value="Center" id="Center">&nbspCity Center&#8195
              </label>
              <label for="Interest">
                <input type="checkbox" name="Interest" value="Interest" id="Interest">&nbspPlace of interest&#8195
              </label>
            </a>
            <a>Tags&nbsp&nbsp&nbsp</a>
            <a style="color: rgb(163, 163, 163); font-weight: 100;">Click a tag to like it, Double click a tag to dislike
              it.</a>
            <a class="Tagsbox">
              <label for="Film">
                <input name="film" type="text" readonly id="Film" class="rangevalue" onclick="ChangeTags('Film')" value="0"
                  hidden>
                <i id="Filmtag" title="Like">Film & TV</i>
              </label>
              <label for="Game">
                <input name="game" type="text" readonly id="Game" class="rangevalue" onclick="ChangeTags('Game')" value="0"
                  hidden>
                <i id="Gametag" title="Like">Game</i>
              </label>
              <label for="Music">
                <input name="music" type="text" readonly id="Music" class="rangevalue" onclick="ChangeTags('Music')" value="0"
                  hidden>
                <i id="Musictag" title="Like">Music</i>
              </label>
              <label for="Cooking">
                <input name="cooking" type="text" readonly id="Cooking" class="rangevalue" onclick="ChangeTags('Cooking')"
                  value="0" hidden>
                <i id="Cookingtag" title="Like">Cooking & Food</i>
              </label>
              <label for="Sports">
                <input name="sports" type="text" readonly id="Sports" class="rangevalue" onclick="ChangeTags('Sports')" value="0"
                  hidden>
                <i id="Sportstag" title="Like">Sports</i>
              </label>
              <label for="Handwork">
                <input name="handwork" type="text" readonly id="Handwork" class="rangevalue" onclick="ChangeTags('Handwork')"
                  value="0" hidden>
                <i id="Handworktag" title="Like">Handwork</i>
              </label>
            </a>
            &#8195&#8195
            <a class="btn btn-primary btn-sm" style="width: 150px; padding-left: 0%; padding-right: 0%;"
              onclick="ClearTags()">
              Clear all choices
            </a>
      </div>
      <input type="text" class="form-control" name="hint" value="filter" style="display: none;" required>
      <input type="submit" id="filtersubmit" style="display: none;">
    </form>
  </div>

  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="/" title="">
            <img class="img-responsive site-logo" alt="" src="/static/imgs/funbox.png" style="width: 200px; height: 100px;">
            FunBox
          </a>
      </div>
      <ul class="nav">
        <div class="user-profile" onclick="load(event, 'edit')" id="user-profile" style="{{profile_style}}">
          <img alt="" src="{{user_photo}}" id="user_picture" alt="user_profile" style="display: inline-block;">
          <p> {{user_name}} <br> {{user_email}} </p>
        </div>
        <li><a href="/" title="" >Home</a></li>
        <li><a href="/admin/" title="" >Admin</a></li>
        <li><a onclick="openNav()" title="">Recommendation</a></li>
        <li><a onclick="load(event, 'help')" title="">Help</a></li>
      </ul>

      <nav class="nav-footer">
        <p style="font-size: 12px;"> Enjoy our work? Tell us how you feel by</p>
        <ul class="nav">
          <li><a class="btn btn-default" onclick="load(event, 'login')" style="{{reverse_style}}"> Log in </a></li>
          <li><a class="btn btn-default" href="{%url 'logout' %}" style="{{profile_style}}"> Log out </a></li>
          <li><a class="btn btn-primary" onclick="load(event, 'signUp')" style="{{reverse_style}}"> Sign up </a></li>
        </ul>
        <p>
          <a class="btn btn-info btn-sm" onclick="load(event, 'forget')" style="display: inline; font-size: 9px;">{{password_opt}}</a>
          <a class="btn btn-info btn-sm" onclick="load(event, 'cancel')" style="display: inline; font-size: 9px;">Cancel Account</a>
        </p>
      </nav>  
    </div> 
  </nav>
</header>

<main class="" id="main-collapse">

<!-- Add your site or app content here -->
  <div class="hero-full-wrapper">
    <div class="login-description" id="event_box" hidden></div>
  </div>
  
  <div class="grid">
  <div class="gutter-sizer"></div>
    <div class="grid-sizer"></div>
    
    <div class="grid-item">
      <img class="img-responsive" alt="" src="{{images.0}}">
      <a href="/project?image={{names.0}}" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>{{names.0}}</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
  
    <div class="grid-item">
      <img class="img-responsive" alt="" src="{{images.1}}">
      <a href="/project?image={{names.1}}" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>{{names.1}}</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>

    <div class="grid-item">
      <img class="img-responsive" alt="" src="{{images.2}}">
      <a href="/project?image={{names.2}}" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>{{names.2}}</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <img class="img-responsive" alt="" src="{{images.3}}">
      <a href="/project?image={{names.3}}" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>{{names.3}}</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
    
    <div class="grid-item">
      <img class="img-responsive" alt="" src="{{images.4}}">
      <a href="/project?image={{names.4}}" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>{{names.4}}</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>

    <div class="grid-item">
      <img class="img-responsive" alt="" src="{{images.5}}">
      <a href="/project?image={{names.5}}" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>{{names.5}}</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>

    <div class="grid-item">
      <img class="img-responsive" alt="" src="{{images.6}}">
      <a href="/project?image={{names.6}}" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>{{names.6}}</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
    <div class="grid-item">
      <img class="img-responsive" alt="" src="{{images.7}}">
      <a href="/project?image={{names.7}}" class="project-description">
        <div class="project-text-holder">
          <div class="project-text-inner">
            <h3>{{names.7}}</h3>
            <p>Discover more</p>
          </div>
        </div>
      </a>
    </div>
    <div class="last"></div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    masonryBuild();
  });
</script>

</main>
</body>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<script>
document.addEventListener("scroll", function (event) {
  var lastY = window.scrollY; // where user scrolls to
  var totalY = document.body.offsetHeight; // the total height of our document // 2571
  var viewY = window.innerHeight; // the height of the viewport //861
  var myNames = {};
  {% for name in names %}
    myNames[{{forloop.counter0}}] = "{{name}}";
  {% endfor %}
  if (totalY < lastY + 2*viewY) {
    newName = myNames[img_index+1];
    if (newName !== undefined) {
      string = '<div class="grid-item"> <img class="img-responsive" alt="" src="/media/photos_activities/{name}.jpg"><a href="/project?image={name}" class="project-description"><div class="project-text-holder"><div class="project-text-inner"><h3>{name}</h3><p>Discover more</p></div></div></a></div>';
      $(".grid").append(string.replaceAll('{name}', newName));
      img_index++;
    }
  }
  masonryBuild();
});
</script>

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/external.js' %}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    $(document).ajaxSend(function(event, xhr, settings){
      console.log("FUNCTIONING");
      if (settings.type == "POST") {
        console.log($("input[name=csrfmiddlewaretoken]").val());
        xhr.setRequestHeader("X-CSRFToken", $("input[name=csrfmiddlewaretoken]").val());
      }
    });
  });
</script>
</body>
</html>