<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>change password</title>
</head>
<body onload="">
        <div class="out_box">
            <div class="logo"> </div>
            <p class="center_bold"> Change password for [which] account</p>
            <!-- TODO:  show information about which account this
            operation is changing -->
            <!-- TODO: add action target scripts for submission-->
            <div class="form_align">
                <form name="form" action="{% url 'success' %}" autocomplete="off" onsubmit="return myOnSubmit(event, 'change')" target="_blank" method="get">
                    
                    <label for="OldPassword"> Old password </label>
                    <input type="text" name="oldpassword" id="OldPassword" 
                    placeholder="Cherry Goodwin" class="form-control" onblur="" required>
                    <p class="error_msg" id="oldpassword_e" hidden> some error happened</p>
                
                    <label for="Password"> New Password </label>
                    <input type="text" name="password" id="Password" placeholder="cherry is 2 awesome!" onchange="" required>
                    <p class="error_msg" id="password_e" hidden> some error happened</p>
                
                    <label for="Repeat"> Repeat New Password </label>
                    <input type="text" name="repeat" id="Repeat" placeholder="cherry is 2 awesome!" onchange="" required>
                    <p class="error_msg" id="repeat_e" hidden> some error happened</p>

                    <button class="toggle_password" onclick="togglePasswordView(event, 'triple')"> View Password</button>
                    <input class="btn-primary" type="submit" name="submit" id="Submit">
                </form>
            </div> 
        </div>
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
</body>
</html>