<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
    <title>change password email</title>
</head>
<body onload="">
    <div class="out_box">
        <div class="logo"> </div>
        <p class="center_bold"> Enter Your Email Address</p>
        <!-- TODO: add action target scripts for submission-->
        <div class="form_align">
            <form name="form" action="\login\input_email\" autocomplete="off" onsubmit="return myOnSubmit(event, 'email')" target="_blank" method="post">
                {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %} 
                {% csrf_token %}
                <input type="email" name="email" id="Email" placeholder="you@some.com" onfocus="" onblur="" required>
                <p class="error_msg" id="email_e" hidden> some error happened</p>
                <input type="submit" name="submit" id="Submit" value="Next">
            </form>

            <div class="bottom_info">
                <p> Already have an account? <a href="/login" style="display: inline;">Sign In</a></p>
                <p class="version_number"> Version 0.0.0 </p>
            </div>
        </div> 
    </div>
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
</body>
</html>