<!DOCTYPE html>
{% load static %}
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Page description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Note</title>

  <link href="{% static 'css/external.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>
<header class="">
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="./index.html" class="navbar-brand"> FunBox </a>
  </div>

  <!-- The sidebar for recommendation filter -->


  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="/" title="">
            <img class="img-responsive site-logo" alt="" src="/static/imgs/funbox.png" style="width: 200px; height: 100px;">
            FunBox
          </a>
      </div>
      <ul class="nav">
        <div class="user-profile" onclick="load(event, 'edit')" id="user-profile" style="{{profile_style}}">
          <img alt="" src="{{user_photo}}" id="user_picture" alt="user_profile" style="display: inline-block;">
          <p> {{user_name}} <br> {{user_email}} </p>
        </div>
        <li><a href="/" title="" >Home</a></li>
        <li><a onclick="load(event, 'help')" title="">Help</a></li>
      </ul>

      <nav class="nav-footer">
        <p style="font-size: 12px;"> Enjoy our work? Tell us how you feel by</p>
        <ul class="nav">
          <li><a class="btn btn-default" onclick="load(event, 'login')" style="{{reverse_style}}"> Log in </a></li>
          <li><a class="btn btn-default" href="{%url 'logout' %}" style="{{profile_style}}"> Log out </a></li>
          <li><a class="btn btn-primary" onclick="load(event, 'signUp')" style="{{reverse_style}}"> Sign up </a></li>
        </ul>
        <p>
          <a class="btn btn-info btn-sm" onclick="load(event, 'forget')" style="display: inline; font-size: 9px;">{{password_opt}}</a>
          <a class="btn btn-info btn-sm" onclick="load(event, 'cancel')" style="display: inline; font-size: 9px;">Cancel Account</a>
        </p>
      </nav>    
    </div> 
  </nav>
</header>

<main class="" id="main-collapse">

  <div class="hero-full-wrapper">
    <div class="login-description" id="event_box" hidden></div>
  </div>
  <div class="row">
  <div class="col-xs-12">
    <div class="section-container-spacer">
      <h1>Note Editor</h1>
      <p>Please edit your note here.</p>
    </div>
    <div class="section-container-spacer" >
       <form name="noteset" action="" class="reveal-content" autocomplete="off" target="_blank" method="post" enctype="multipart/form-data" onsubmit="return true">
         {% csrf_token %}
          <div class="row">
            <div class="col-xs-8">
              <div class="form-group">
                <input type="text" class="form-control" id="title" name="title" placeholder="Title" maxlength="50" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" name="body" placeholder="Enter your message" maxlength="500" required></textarea>
              </div>
              <div id="image_view" class="image_upload"></div>
              <label for="upload_click" class="invi_label">
                <button type="submit" id="upload_click" class="btn btn-primary upload_button">Upload images</button>
                <input type="file" id="note-image" name="photos" class="btn btn-primary upload_button" style="opacity: 0;" accept="image/*">
              </label>
              <input type="text" class="form-control" name="hint" value="note" style="display: none;" required>
              <input type="text" class="form-control" name="activity" value="{{activity}}" style="display: none;" required>
              <button type="submit" class="btn btn-primary upload_button" style="right: 30px; width: 100px;">Submit</button>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>


</main>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<script>
  window.onload = function() {
  var input = document.getElementById("note-image");
  var div;
  // 当用户上传时触发事件
  input.onchange = function() {
    // document.getElementById("image_view").innerHTML = "";
    readFile(this);
    console.log(input.value);
  }
  //处理图片并添加都dom中的函数
  var readFile = function (obj) {
    // 获取input里面的文件组
    var fileList = obj.files;
    if (fileList.length + upload_img_num > 9) {
      return alert("The number of uploaded images cannot be greater than 9.");
    }
    //对文件组进行遍历，可以到控制台打印出fileList去看看
    var j = 0;
    for (var i = 0; i < fileList.length; i++) {
      var reader = new FileReader();
      reader.readAsDataURL(fileList[i]);
      // 当文件读取成功时执行的函数
      reader.onload = function (e) {
        div = document.createElement('div');
        div.id = "uploadimg_" + j;
        div.innerHTML = '<img src="' + this.result + '" /><a class="removebtn" onclick="removeimg(\'uploadimg_' + j + '\')">&times;</a>';
        document.getElementById("image_view").appendChild(div);
        j++;
        upload_img_num++;
        console.log("uploading");
        console.log("image global number " + upload_img_num);
      }
    }
    console.log(fileList)
  }
}

</script>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/external.js' %}"></script>

</body>
</html>