<!DOCTYPE html>
{% load static %}
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Page description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link href="./assets/apple-icon-180x180.png" rel="apple-touch-icon">
  <link href="./assets/apple-icon-180x180.png" rel="icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <title>Project</title>

  <link href="{% static 'css/external.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<body>
<header class="">
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="./index.html" class="navbar-brand"> FunBox </a>
  </div>

  <!-- The sidebar for recommendation filter -->


  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <div class="site-header hidden-xs">
          <a class="site-brand" href="/" title="">
            <img class="img-responsive site-logo" alt="" src="/static/imgs/funbox.png" style="width: 200px; height: 100px;">
            FunBox
          </a>
      </div>
      <ul class="nav">
        <div class="user-profile" onclick="load(event, 'edit')" id="user-profile" style="{{profile_style}}">
          <img alt="" src="{{user_photo}}" id="user_picture" alt="user_profile" style="display: inline-block;">
          <p> {{user_name}} <br> {{user_email}} </p>
        </div>
        <li><a href="/" title="" >Home</a></li>
        <li><a onclick="load(event, 'help')" title="">Help</a></li>
      </ul>

      <nav class="nav-footer">
        <p style="font-size: 12px;"> Enjoy our work? Tell us how you feel by</p>
        <ul class="nav">
          <li><a class="btn btn-default" onclick="load(event, 'login')" style="{{reverse_style}}"> Log in </a></li>
          <li><a class="btn btn-default" href="{%url 'logout' %}" style="{{profile_style}}"> Log out </a></li>
          <li><a class="btn btn-primary" onclick="load(event, 'signUp')" style="{{reverse_style}}"> Sign up </a></li>
        </ul>
        <p>
          <a class="btn btn-info btn-sm" onclick="load(event, 'forget')" style="display: inline; font-size: 9px;">{{password_opt}}</a>
          <a class="btn btn-info btn-sm" onclick="load(event, 'cancel')" style="display: inline; font-size: 9px;">Cancel Account</a>
        </p>
      </nav>    
    </div> 
  </nav>
</header>

<main class="" id="main-collapse">

  <div class="hero-full-wrapper">
    <div class="login-description" id="event_box" hidden></div>
  </div>

<div class="row">
  <div class="col-xs-12 col-md-8">

    <div class="section-container-spacer">
        <h1>{{projectlist.0}}</h1>
        <p>{{projectlist.1}}</p>
    </div>

    <div class="section-container-spacer">
      <p><img class="img-responsive" alt="" src="{{projectlist.2}}"></p>
      <!-- <div class="row">
          <div class="col-xs-12 col-md-6">
              <p><img class="img-responsive" alt="" src="/static/assets/images/img-13.jpg"></p>
          </div>
          <div class="col-xs-12 col-md-6">
              <p><img class="img-responsive" alt="" src="/static/assets/images/img-14.jpg"></p>
          </div>
      </div> -->
    </div>

    <!-- <p> Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->

    <div class="note">
      <!-- <img class="img-responsive" alt="" src="./assets/images/img-05.jpg"> -->
      <a>
        <div>
          <h3>Vivamus vestibulum</h3>
          <p style="color: #818181;">Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </a>
      <a>Full Text</a>
      <p class="like">Likes: 30</p>
    </div>
    
    <div class="note">
      <!-- <img class="img-responsive" alt="" src="./assets/images/img-05.jpg"> -->
      <a>
        <div>
          <h3>Vivamus vestibulum</h3>
          <p style="color: #818181;">Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </a>
      <a>Full Text</a>
      <p class="like">Likes: 30</p>
    </div>
  
    <a class="btn btn-primary" href = "./note.html" style="width: 20%; right: 30px; position: absolute;"> Create Note </a>
</div>
    


</main>

<script>
document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/external.js' %}"></script>

</body>
</html>