<!-- Project Page -->

<!DOCTYPE html>
<!-- load static path defined in django template -->
{% load static %}
<html lang="en">

<!-- meta information -->
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Page description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <!-- load jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- load css for likes `heart shape icon` -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>Project</title>
  <!-- link Cascading Style Sheets -->
  <link href="{% static 'css/external.css' %}" rel="stylesheet">
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
</head>

<!-- contents -->
<body>
<header class="">
  <!-- control navbar to open and close  -->
  <div class="navbar navbar-default visible-xs">
    <button type="button" class="navbar-toggle collapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="./index.html" class="navbar-brand"> FunBox </a>
  </div>

  <!-- sidebar -->
  <nav class="sidebar">
    <div class="navbar-collapse" id="navbar-collapse">
      <!-- logo & redirection -->
      <div class="site-header hidden-xs">
          <a class="site-brand" href="/" title="">
            <img class="img-responsive site-logo" alt="" src="/static/imgs/funbox.png" style="width: 200px; height: 100px;">
            FunBox
          </a>
      </div>

      <!-- section below logo (also navbar) -->
      <ul class="nav">
        <!-- user profile -->
        <div class="user-profile" onclick="load(event, 'edit')" id="user-profile" style="{{profile_style}}">
          <img alt="" src="{{user_photo}}" id="user_picture" alt="user_profile" style="display: inline-block;">
          <div style="width: 110px; display: inline-block;">
            <div style="width: 110px; height: 22px; margin-bottom: 5px; overflow: hidden; text-overflow: ellipsis;" id="profile_name">{{user_name}}</div>
            <div style="width: 110px; height: 22px; margin-bottom: 5px; text-overflow: ellipsis; overflow: hidden;">{{user_email}}</div>
          </div>
        </div>
        <!-- navigations -->
        <li><a href="/" title="" >Home</a></li>
        <li><a onclick="load(event, 'help')" title="">Help</a></li>
      </ul>

      <!-- footer section  -->
      <nav class="nav-footer">
        <ul class="nav">
          <li><a class="btn btn-default" onclick="load(event, 'login')" style="{{reverse_style}}"> Log in </a></li>
          <li><a class="btn btn-primary" onclick="load(event, 'signUp')" style="{{reverse_style}}"> Sign up </a></li>
          <li><a class="btn btn-primary" id="create-note"> Create Note </a></li>
          <li><a class="btn btn-default" href="{%url 'logout' %}" style="{{profile_style}}"> Log out </a></li>
        </ul>
        <p>
          <a class="btn btn-info btn-sm" onclick="load(event, 'forget')" style="display: inline; font-size: 9px;">{{password_opt}}</a>
          <a class="btn btn-info btn-sm" onclick="load(event, 'cancel')" style="display: inline; font-size: 9px;">Cancel Account</a>
        </p>
      </nav>    
    </div> 
  </nav>
</header>

<main class="" id="main-collapse">
  <!-- empty wrapper for all `load` functions -->
  <div class="hero-full-wrapper">
    <div class="login-description" id="event_box" hidden></div>
  </div>

  <!-- project section -->
  <div class="row">
    <div class="col-xs-12 col-md-8">

      <!-- project information -->
      <div class="section-container-spacer">
        <!-- project name -->
        <h1>{{projectlist.0}}</h1> 
        <div>
          <p class="project_info" style="font-size: 19px; display: inline-block; font-weight: 700;  margin-top: 16px; margin-bottom: 0px;">
            <!-- project Time/Participants/Place/Tag -->
            <span>{{projectlist.1}}min </span>
            <span>{{projectlist.2}} people </span>
            <span> {{projectlist.3}} </span>
            <span> {{projectlist.4}}</span>         
          </p>
          <!-- like button -->
          <div style="display: inline-block; position: absolute; right: 0; padding-right: 15px;">
            <a onclick="like(event, '{{projectlist.0}}')" class="like {{projectlist.8}}" id="like_button">
            <i class="fa fa-heart " aria-hidden="true"></i> </a><span id="likes" style="font-size: 22px; ">{{projectlist.7}}</span>
          </div>
        </div>
        <!-- project description -->
        <p>{{projectlist.5}}</p>
      </div>

      <!-- responsive image of project -->
      <div class="section-container-spacer">
        <p><img class="img-responsive" alt="" src="{{projectlist.6}}"></p>
      </div>

      <!-- note section -->
      <div class="bottom-wrapper">

        {% if notetitles.0 %}
        <!-- if note 0 exists -->
        {% if notephotos.0 %}
        <!-- if note 0 contains a photo -->
        <div class="note" style="overflow: hidden;">
          <div class="left" style="">

            <!-- note title/writer profile/writer/bodies -->
            <h3> {{notetitles.0}} </h3>
            <img src="{{userphotos.0}}" alt="" onclick="load_other(event,'{{userids.0}}')">
            <div class="note-owner"><span>by&nbsp</span>{{noteusers.0}}</div>
            <p class="note-body"> <span>{{notebodies.0}}</span></p>

            <!-- like button -->
            <div class="like-wrapper" style="right: 25%;">
              <a onclick="like_note(event, '{{noteids.0}}', '0', '{{projectlist.0}}')" class="like {{notehearts.0}}" id="like_note_button0">
              <i class="fa fa-heart " aria-hidden="true"></i> </a><span id="note_likes0" style="font-size: 28px; ">{{notelikes.0}}</span>
            </div>
          </div>

          <!-- attached image -->
          <div class="right" id="img_filed" style="float: right;">
            <img class="img-responsive" src="{{notephotos.0}}">
          </div>
        </div>
        
        {% else %}
        <!-- note 0 exists but without a photo -->
        <div class="note">
          <div class="left" style=" width: 100%;">

            <!-- note title/writer profile/writer/bodies -->
            <h3> {{notetitles.0}} </h3>
            <img src="{{userphotos.0}}" alt="" onclick="load_other(event,'{{userids.0}}')">
            <div class="note-owner"><span>by&nbsp</span>{{noteusers.0}}</div>
            <div>
              <p class="note-body"> <span>{{notebodies.0}}</span></p>
              <div class="like-wrapper" style="right: 0;">
                <a onclick="like_note(event, '{{noteids.0}}', '0', '{{projectlist.0}}')" class="like {{notehearts.0}}" id="like_note_button0">
                <i class="fa fa-heart " aria-hidden="true"></i> </a><span id="note_likes0" style="font-size: 28px; ">{{notelikes.0}}</span>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        {% else %}
        <!-- note 0 does not exist -->
        <h3>No note is available, click the button on the left to create one</h3>

        {% endif %}

        {% if notetitles.1 %}
        <!-- if note 1 exists -->
        {% if notephotos.1 %}
        <!-- if note 1 contains a photo -->
        <div class="note" style="overflow: hidden;">
          <div class="left" style="">

            <!-- note title/writer profile/writer/bodies -->
            <h3> {{notetitles.1}} </h3>
            <img src="{{userphotos.1}}" alt="" onclick="load_other(event,'{{userids.1}}')">
            <div class="note-owner"><span>by&nbsp</span>{{noteusers.1}}</div>
            <p class="note-body"> <span>{{notebodies.1}}</span></p>

            <!-- like button -->
            <div class="like-wrapper" style="right: 25%;">
              <a onclick="like_note(event, '{{noteids.1}}', '1', '{{projectlist.0}}')" class="like {{notehearts.1}}" id="like_note_button1">
              <i class="fa fa-heart " aria-hidden="true"></i> </a><span id="note_likes1" style="font-size: 28px; ">{{notelikes.1}}</span>
            </div>
          </div>

          <!-- attached image -->
          <div class="right" id="img_filed" style="float: right;">
            <img class="img-responsive" src="{{notephotos.1}}">
          </div>
        </div>
        {% else %}
        <!-- note 1 exists but without a photo -->
        <div class="note">
          <div class="left" style=" width: 100%;">

            <!-- note title/writer profile/writer/bodies -->
            <h3> {{notetitles.1}} </h3>
            <img src="{{userphotos.1}}" alt="" onclick="load_other(event,'{{userids.1}}')">
            <div class="note-owner"><span>by&nbsp</span>{{noteusers.1}}</div>
            <div>
              <p class="note-body"> <span>{{notebodies.1}}</span></p>

              <!-- like button -->
              <div class="like-wrapper" style="right: 0;">
                <a onclick="like_note(event, '{{noteids.1}}', '1', '{{projectlist.0}}')" class="like {{notehearts.1}}" id="like_note_button1">
                <i class="fa fa-heart " aria-hidden="true"></i> </a><span id="note_likes1" style="font-size: 28px; ">{{notelikes.1}}</span>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endif %}

        {% if notetitles.2 %}
        {% if notephotos.2 %}
        <div class="note" style="overflow: hidden;">
          <div class="left" style="">
            <h3> {{notetitles.2}} </h3>
            <img src="{{userphotos.2}}" alt="" onclick="load_other(event,'{{userids.2}}')">
            <div class="note-owner"><span>by&nbsp</span>{{noteusers.2}}</div>
            <div>
              <p class="note-body"> <span>{{notebodies.2}}</span></p>
              <div class="like-wrapper" style="right: 25%;">
                <a onclick="like_note(event, '{{noteids.2}}', '2', '{{projectlist.0}}')" class="like {{notehearts.2}}" id="like_note_button2">
                <i class="fa fa-heart " aria-hidden="true"></i> </a><span id="note_likes2" style="font-size: 28px; ">{{notelikes.2}}</span>
              </div>
            </div>
          </div>
          <div class="right" id="img_filed" style="float: right; height: 100%;">
            <img class="img-responsive" src="{{notephotos.2}}">
          </div>
        </div>
        {% else %}
        <div class="note">
          <div class="left" style=" width: 100%;">
            <h3> {{notetitles.2}} </h3>
            <img src="{{userphotos.2}}" alt="" onclick="load_other(event,'{{userids.2}}')">
            <div class="note-owner"><span>by&nbsp</span>{{noteusers.2}}</div>
            <div>
              <p class="note-body"> <span>{{notebodies.2}}</span></p>
              <div class="like-wrapper" style="right: 0;">
                <a onclick="like_note(event, '{{noteids.2}}', '2', '{{projectlist.0}}')" class="like {{notehearts.2}}" id="like_note_button2">
                <i class="fa fa-heart " aria-hidden="true"></i> </a><span id="note_likes2" style="font-size: 28px; ">{{notelikes.2}}</span>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</main>

<!-- external script for open and close navbar when window size is small, referenced in `external.js` -->
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
  navbarToggleSidebar();
  navActivePage();
});
</script>

<!-- script to alert user to login before make a note -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    if ("{{user_email}}" == "") {
      $("#create-note").on("click", function(event){
        event.preventDefault();
        alert("Login to create note!");
      });
    } else {
      $("#create-note").attr("href", "/note?image={{projectlist.0}}");
      $("#create-note").attr("target", "_blank");
    }
  });
</script>

<!-- onscroll function to dynamically load more notes when scrolling down -->
<script>
document.addEventListener("scroll", function (event) {
  var lastY = window.scrollY; // where user scrolls to
  var totalY = document.body.offsetHeight; // the total height of our document // 2571
  var viewY = window.innerHeight; // the height of the viewport //861
  
  // access data from django
  var myids = {};
  var mybodies = {};
  var myphotos = {};
  var mytitles = {};
  var myhearts = {};
  var mylikes = {};
  var myuids = {};
  var myuphotos = {};
  var myusers = {};
  {% for id in noteids %}
    myids[{{forloop.counter0}}] = "{{id}}";
  {% endfor %}
  {% for body in notebodies %}
    mybodies[{{forloop.counter0}}] = "{{body}}";
  {% endfor %}
    
  {% for photo in notephotos %}
    myphotos[{{forloop.counter0}}] = "{{photo}}";
  {% endfor %}

  {% for title in notetitles %}
    mytitles[{{forloop.counter0}}] = "{{title}}";
  {% endfor %}

  {% for heart in notehearts %}
    myhearts[{{forloop.counter0}}] = "{{heart}}";
  {% endfor %}

  {% for like in notelikes %}
    mylikes[{{forloop.counter0}}] = "{{like}}";
  {% endfor %}

  {% for uid in userids %}
    myuids[{{forloop.counter0}}] = "{{uid}}";
  {% endfor %}

  {% for uphoto in userphotos %}
    myuphotos[{{forloop.counter0}}] = "{{uphoto}}";
  {% endfor %}

  {% for user in noteusers %}
    myusers[{{forloop.counter0}}] = "{{user}}";
  {% endfor %}

  // load before reaching the end
  if (totalY < lastY + 2*viewY) {
    Newid = myids[note_index];
    if (Newid !== undefined) {
      console.log(myids[note_index]+" "+mybodies[note_index]+" "+mytitles[note_index]+" "+myhearts[note_index]);
      Newphoto = myphotos[note_index];
      if (Newphoto !== "") {
        // create string for note with an image
        string = '<div class="note" style="overflow: hidden;"><div class="left" style=""><h3>'+mytitles[note_index]+'</h3><img src="'+myuphotos[note_index]+'" alt="" onclick="load_other(event,\''+myuids[note_index]+'\')"><div class="note-owner"><span>by&nbsp</span>'+myusers[note_index]+'</div><div><p class="note-body"> <span>'+mybodies[note_index]+'</span></p><div class="like-wrapper" style="right: 25%;"><a onclick="like_note(event, \''+myids[note_index]+'\', "'+note_index+'", "{{projectlist.0}}")" class="like '+myhearts[note_index]+'" id="like_note_button'+note_index+'"><i class="fa fa-heart " aria-hidden="true"></i> </a><span id="note_likes'+note_index+'" style="font-size: 28px; ">'+mylikes[note_index]+'</span></div></div></div><div class="right" id="img_filed" style="float: right; height: 100%;"><img class="img-responsive" src="'+myphotos[note_index]+'"></div></div>';
      } else {
        // create string for note without an image
        string = '<div class="note"><div class="left" style=" width: 100%;"><h3>' +mytitles[note_index]+ '</h3><img src="'+myuphotos[note_index]+'" alt="" onclick="load_other(event,\''+myuids[note_index]+'\')"><div class="note-owner"><span>by&nbsp</span>'+myusers[note_index]+'</div><div><p class="note-body"> <span>'+mybodies[note_index]+'</span></p><div class="like-wrapper" style="right: 0;"><a onclick="like_note(event, \''+myids[note_index]+'\', "'+note_index+'", "{{projectlist.0}}")" class="like '+myhearts[note_index]+'" id="like_note_button'+note_index+'"><i class="fa fa-heart " aria-hidden="true"></i> </a><span id="note_likes'+note_index+'"style="font-size: 28px; ">'+mylikes[note_index]+'</span></div></div></div></div>'
      }

      // append new note to wrapper
      $(".bottom-wrapper").append(string);

      // index increment
      note_index++;
    }
  }
});
</script>

<!-- scripts -->
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="{% static 'js/external.js' %}"></script>

</body>
</html>