/* This file takes care of the css of <input> tags
 * input
 * input[type=submit]
 * input[type=ratio]
 */

/* input[type=radio] {
    display: inline;
} */

input[type=text] {
    width: 100%;
    padding: 10px 5px; 
    margin-bottom: 10px;
    /* blank space inside input area 10 for up and down, 5 for left */
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password] {
    width: 100%;
    padding: 10px 5px; 
    margin-bottom: 10px;
    /* blank space inside input area 10 for up and down, 5 for left */
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email] {
    width: 100%;
    padding: 10px 5px; 
    margin-bottom: 10px;
    /* blank space inside input area 10 for up and down, 5 for left */
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    border: gray solid 1px;
    background-color: #FFD7BA;
    color: gray;

    padding: 10px 0;
    display: block;
    width: 100%;
    border-radius: 20px;
}

label {
    display: block;
    color: grey;
    font-size: small;
}

.l_ratio {
    display: inline;
    color: black;
    font-size: large;
    font-weight: bold;
}

input::placeholder {
    font-size: small;
}